<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\User\Block\Role\Tab\Edit">
        <plugin name="user_role_resources_gettree" type="Augustash\FixUserAclResourceTree\Plugin\FixUserRoleResourcesTree" sortOrder="1" disabled="false"/>
    </type>
</config>
